@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --slide-transform-base: rotateY(130deg) scaleX(-1);
  --slide-translateZ: -55px;
}

body {
  margin: 0;
  align-items: center;
  justify-content: center;
  place-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: "Inter", sans-serif;
  color: #1f2937;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fade-in-down 0.6s ease-in-out both;
}